    article {
        display: inline-block;
        border: 1px solid black;
        margin: 15px;
        width: 300px;
       padding: 20px;
    }


    li {
        list-style: none;
    }

    h1 {
        text-align: left;
    }